zookeeper.connect=127.0.0.1:{{zookeeper.config.clientPort}}

log.dirs={% for logdir in kafka.broker.datadir %}{% if loop.index > 1%},{% endif %}{{ logdir }}{% endfor %}

broker.id=1

{% for key, value in kafka.broker.config.items() %}
{{key}}={{value}}
{% endfor %}
